<nav id="navbar_ozone" class="navbar">
    <div class="container">
        <div class="navbar__wrapper">
            <a href="index.html" class="navbar__brand" aria-label='Home'>
                <img src="img/logo.svg" alt="Ozoneair - homepage" width="150" height="40">
            </a>

            <ul class="primary-menu navbar__primary-menu">
                <li>
                    <a href="#">Purify</a>
                </li>
                <li>
                    <a href="#">Clean</a>
                </li>
            </ul>

            <div class="navbar__cart">
                <img src="img/cart.svg" alt="Cart">
                <span class="navbar__cart-value">1</span>
            </div>

            <div class="navbar__lang">
                <div class="select-lang-wrapper">
                    <select name="lang" class="select-lang" id="select_lang_ozone">
                        <option value="English">En</option>
                        <option value="Swedish">Sw</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</nav>