<section class="popup" id="acc-popup-2" style="display: none;">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__close">Close</div>
            <div class="acc-popup">
                <div class="acc-popup__img">
                    <img src="img/acc-product2.png" alt="Purify UV Lamp">
                </div>
            
                <div class="acc-popup__content">
                    <h3 class="acc-popup__title">Purify UV Lamp</h3>
            
                    <div class="acc-popup__line">
                        <span class="acc-popup__price">$39.99</span>
                
                        <div class="acc-popup__availability">
                            <span class="confirm">Сonfirm</span>
                            <!-- <span class="reject">Reject</span> -->
                            In stock</div>
                    </div>
                
                    <p class="acc-popup__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <ul class="acc-popup__list">
                        <li>Purifies smaller areas up to 20m2</li>
                        <li>Continuous treatment</li>
                        <li>Automatic and Daily mode</li>
                    </ul>
                
                    <div class="acc-popup__line acc-popup__line_btn">
                        <div class="acc-popup__qty">
                            <label for="acc-popup__qty">Qty: </label>
                            <select name="quantity" id="acc-popup__qty">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="btn btn-green">add to cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popup" id="acc-popup-1" style="display: none;">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__close">Close</div>
            <div class="acc-popup">
                <div class="acc-popup__img">
                    <img src="img/acc-product1.png" alt="Purify HEPA Filter">
                </div>
            
                <div class="acc-popup__content">
                    <h3 class="acc-popup__title">Purify HEPA Filter</h3>
            
                    <div class="acc-popup__line">
                        <span class="acc-popup__price">$39.99</span>
                
                        <div class="acc-popup__availability">
                            <span class="confirm">Сonfirm</span>
                            <!-- <span class="reject">Reject</span> -->
                            In stock</div>
                    </div>
                
                    <p class="acc-popup__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <ul class="acc-popup__list">
                        <li>Purifies smaller areas up to 20m2</li>
                        <li>Continuous treatment</li>
                        <li>Automatic and Daily mode</li>
                    </ul>
                
                    <div class="acc-popup__line acc-popup__line_btn">
                        <div class="acc-popup__qty">
                            <label for="acc-popup__qty">Qty: </label>
                            <select name="quantity" id="acc-popup__qty">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="btn btn-green">add to cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popup" id="acc-popup-3" style="display: none;">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__close">Close</div>
            <div class="acc-popup">
                <div class="acc-popup__img">
                    <img src="img/acc-product3.png" alt="Ozone plate">
                </div>
            
                <div class="acc-popup__content">
                    <h3 class="acc-popup__title">Ozone plate</h3>
            
                    <div class="acc-popup__line">
                        <span class="acc-popup__price">$39.99</span>
                
                        <div class="acc-popup__availability">
                            <span class="confirm">Сonfirm</span>
                            <!-- <span class="reject">Reject</span> -->
                            In stock</div>
                    </div>
                
                    <p class="acc-popup__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <ul class="acc-popup__list">
                        <li>Purifies smaller areas up to 20m2</li>
                        <li>Continuous treatment</li>
                        <li>Automatic and Daily mode</li>
                    </ul>
                
                    <div class="acc-popup__line acc-popup__line_btn">
                        <div class="acc-popup__qty">
                            <label for="acc-popup__qty">Qty: </label>
                            <select name="quantity" id="acc-popup__qty">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="btn btn-green">add to cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>