<section class="product-page-specs">
    <div class="container">
        <h2>Technical specs</h2>

        <div class="product-page-specs__tabs-container">
            <div class="product-page-specs__tabs-btns">
                <div class="product-page-specs__tabs-btns__slider">
                    <div>
                        <a href="#tab-1" rel="nofollow" class="product-page-specs__tabs-btn active">GO</a>
                    </div>
                    <div>
                        <a href="#tab-2" rel="nofollow" class="product-page-specs__tabs-btn">PLUS</a>
                    </div>
                    <div>
                        <a href="#tab-3" rel="nofollow" class="product-page-specs__tabs-btn">PRO</a>
                    </div>
                </div>
            </div>
            <div class="product-page-specs__tabs-content">
                <div class="product-page-specs__tabs-content__panel active" id="tab-1">
                    <div class="product-page-specs__tech-specs">
                        <table class="tech-specs__table">
                            <tbody>
                                <tr>
                                    <td>Capacity</td>
                                    <td>5 - 30 m2</td>
                                </tr>

                                <tr>
                                    <td>Input voltage</td>
                                    <td>220 - 240 v</td>
                                </tr>

                                <tr>
                                    <td>Freequency</td>
                                    <td>50  Hz - 60Hz</td>
                                </tr>

                                <tr>
                                    <td>Effect</td>
                                    <td>50 W</td>
                                </tr>

                                <tr>
                                    <td>Size</td>
                                    <td>25.0 x 24.0 x 15.5 cm</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" class="tech-specs__table-link tech-specs__table-link_download">Download manual</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <div class="product-page-specs__tech-image">
                            <div class="product-page-specs__tech-image__product">
                                <img  src="img/GO_front.png" alt="Go" width="200" height="316">
                            </div>
                            <a href="#" class="btn btn-green">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="product-page-specs__tabs-content__panel" id="tab-2">
                    <div class="product-page-specs__tech-specs">
                        <table class="tech-specs__table">
                            <tbody>
                                <tr>
                                    <td>Capacity</td>
                                    <td>10 - 60  m2</td>
                                </tr>

                                <tr>
                                    <td>Input voltage</td>
                                    <td>220 - 240 v</td>
                                </tr>

                                <tr>
                                    <td>Freequency</td>
                                    <td>50  Hz - 60Hz</td>
                                </tr>

                                <tr>
                                    <td>Effect</td>
                                    <td>55 W</td>
                                </tr>

                                <tr>
                                    <td>Size</td>
                                    <td>29.0 X 28.0 X 17.0 cm</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" class="tech-specs__table-link tech-specs__table-link_download">Download manual</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <div class="product-page-specs__tech-image">
                            <div class="product-page-specs__tech-image__product">
                                <img  src="img/PLUS_front.png" alt="Plus" width="200" height="330">
                            </div>
                            <a href="#" class="btn btn-green">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="product-page-specs__tabs-content__panel" id="tab-3">
                    <div class="product-page-specs__tech-specs">
                        <table class="tech-specs__table">
                            <tbody>
                                <tr>
                                    <td>Capacity</td>
                                    <td>15 - 120 m2</td>
                                </tr>

                                <tr>
                                    <td>Input voltage</td>
                                    <td>220 - 240 v</td>
                                </tr>

                                <tr>
                                    <td>Freequency</td>
                                    <td>50  Hz - 60Hz</td>
                                </tr>

                                <tr>
                                    <td>Effect</td>
                                    <td>80 W</td>
                                </tr>

                                <tr>
                                    <td>Size</td>
                                    <td>29.0 x 20.5 x 30.0 cm</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" class="tech-specs__table-link tech-specs__table-link_download">Download manual</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <div class="product-page-specs__tech-image">
                            <div class="product-page-specs__tech-image__product">
                                <img  src="img/PRO_front.png" alt="Pro" width="226" height="330">
                            </div>
                            <a href="#" class="btn btn-green">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>