@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownLight.eot');
    src: url('../fonts/BrownLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownLight.woff2') format('font/woff2'),
        url('../fonts/BrownLight.woff') format('font/woff'),
        url('../fonts/BrownLight.ttf') format('font/ttf'),
        url('../fonts/BrownLight.ttf') format('font/truetype'),
        url('../fonts/BrownLight.svg#BrownLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownMedium.eot');
    src: url('../fonts/BrownMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownMedium.woff2') format('font/woff2'),
        url('../fonts/BrownMedium.woff') format('font/woff'),
        url('../fonts/BrownMedium.ttf') format('font/truetype'),
        url('../fonts/BrownMedium.ttf') format('font/ttf'),
        url('../fonts/BrownMedium.svg#BrownMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Regular.eot');
    src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brown-Regular.woff2') format('font/woff2'),
        url('../fonts/Brown-Regular.woff') format('font/woff'),
        url('../fonts/Brown-Regular.ttf') format('font/truetype'),
        url('../fonts/Brown-Regular.ttf') format('font/ttf'),
        url('../fonts/Brown-Regular.svg#Brown-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownBold.eot');
    src: url('../fonts/BrownBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownBold.woff2') format('font/woff2'),
        url('../fonts/BrownBold.woff') format('font/woff'),
        url('../fonts/BrownBold.ttf') format('font/truetype'),
        url('../fonts/BrownBold.ttf') format('font/ttf'),
        url('../fonts/BrownBold.svg#BrownBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 16px;
    color: #232223;
    font-family: 'Brown', sans-serif;
    padding-top: 95px;
}

h1 {
    font-size: 72px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 34px;
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

h5 {
    font-size: 24px;
    font-weight: 400;
}

h6 {
    font-size: 18px;
    font-weight: 600;
}

.btn {
    color: #fff;
    background-color: #3B7CCC;
    border-radius: 30px;
    height: 55px;
    cursor: pointer;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-width: 250px;
    padding: 0 35px;
    line-height: 55px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        color: #fff;
        background-color: #0C5EC2;
    }

    &.btn-line-blue {
        border: 2px solid #4B7CC6;
        background: transparent;
        color: #3B7CCC;

        &:hover {
            background-color: #3B7CCC;
            color: #fff;
        }
    }

    &.btn-line-white {
        border: 2px solid #FFFFFF;
        background: transparent;
        color: #FFFFFF;

        &:hover {
            background-color: #FFFFFF;
            color: #3B7CCC;
        }
    }

    &.btn-white {
        background-color: #FFFFFF;
        color: #3B7CCC;

        &:hover {
            background-color: #FFFFFF;
            color: #0C5CBF;
        }
    }

    &.btn-green {
        color: #fff;
        background-color: #31AB72;

        &:hover {
            background-color: #039751;
            color: #FFFFFF;
        }
    }
}

.primary-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    li {
        padding: 0 40px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }
}

.navbar {
    background-color: #232223;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__burger-btn {
        display: none;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 30px;
        height: 21px;
        background: transparent;
        border: none;
        padding: 0;
        margin-right: 30px;
        cursor: pointer;

        span {
            height: 3px;
            background-color: #fff;
            width: 100%;
            display: block;
            border-radius: 20px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        height: 95px;
    }

    &__primary-menu {
        margin-right: auto;
        margin-left: 50px;
    }

    &__cart {
        position: relative;
        width: 38px;
        margin-right: 35px;
        cursor: pointer;

        &-value {
            display: flex;
            background: #3B7CCC;
            color: #fff;
            font-size: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__lang {
        .select-lang {
            border: none;
            background: transparent;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            outline: none;
            -webkit-appearance: none;
            cursor: pointer;

            option {
                color: #232223;
                cursor: pointer;
            }

            &-wrapper {
                position: relative;
                padding-right: 15px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 10px;
                    top: 11px;
                    right: 0;
                    height: 7px;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.359' height='8.376' viewBox='0 0 14.359 8.376'%3E%3Cg id='Group_18792' data-name='Group 18792' transform='translate(-1300.757 27.707)'%3E%3Crect id='Rectangle_269' data-name='Rectangle 269' width='10.153' height='1.692' rx='0.846' transform='translate(1301.954 -27.707) rotate(45)' fill='%23fff'/%3E%3Crect id='Rectangle_270' data-name='Rectangle 270' width='10.153' height='1.692' rx='0.846' transform='translate(1315.116 -26.511) rotate(135)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");

                }
            }
        }
    }

    &__brand {
        width: 150px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.header {
    color: #fff;

    &-product {
        .header__wrapper {
            display: flex;
            align-items: flex-end;
            position: relative;

            h1 {
                text-align: left;
                width: 50%;
            }

            .header__product-img {
                position: absolute;
                right: 0;
                bottom: -172px;
                overflow: hidden;
                z-index: 9999;

                img {
                    margin-right: -25px;
                }
            }
        }

        .header__wrapper_hdiw {
            flex-direction:column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 970px;
        }

        .header-slide_hdiw {
            align-items: center;
            height: 400px;

        }
    }

    &-slider {
        position: relative;
        display: flex;
        justify-content: center;

        .slick-dots {
            position: absolute;
            bottom: 40px;
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

            button {
                font-size: 0;
                height: 4px;
                display: block;
                width: 80px;
                background: #fff;
                opacity: 0.5;
                border: none;
                padding: 0;
                border-radius: 50px;
                outline: none;
                transition: opacity 0.3s ease;
            }

            li:not(:last-child) {
                margin-right: 15px;
            }

            .slick-active {
                button {
                    opacity: 1;
                }
            }
        }
    }

    &__wrapper {
        text-align: center;
        margin-bottom: 100px;

        h1 {
            margin-bottom: 25px;
        }

        small {
            font-size: 22px;
            text-transform: uppercase;
        }
    }

    &-slide {
        position: relative;
        height: 550px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &-page-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        height: 100%;

        &.header-page-img_position-top {
            object-position: top;
        }
    }

    &-triggers {
        background: #3B7CCC;
        color: #fff;
        padding: 50px 0;

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: none;
                align-items: center;
                flex-shrink: 0;
                flex-grow: 0;

                &.active {
                    display: flex;
                }
            }
        }

        &__img {
            max-width: 45px;
            height: auto;
            object-fit: contain;
        }

        &__title {
            font-size: 20px;
            font-weight: 600;
            margin-left: 20px;
        }
    }
}

.nav-product-content {
    display: block;
    height: 0;
    visibility: none;
    overflow: hidden;
    opacity: 0;

    transition: opacity 0.3s ease;

    &.active {
        display: block;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
}

.header-product {
    .slick-list {
        padding-bottom: 50px;
    }

    .header-slider .slick-dots {
        bottom: 90px;
    }
}

.product-page-triggers {
    margin-top: -50px;
}

.product-main {
    &__wrapper {
        display: flex;
        flex-direction: row;
    }

    .container-fluid {
        padding: 0;
    }

    &:nth-child(even) .product-main__wrapper {
        flex-direction: row-reverse;
    }

    &__content {
        width: 50%;
        padding: 0 110px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        small {
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 5px;
        }

        h2 {
            color: #3B7CCC;
            margin-bottom: 20px;
        }

        p {
            margin: 0;
        }

        .btn {
            margin-top: 30px;
        }
    }

    &__image {
        width: 50%;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }

    &__slider {
        position: relative;

        .slick-dots {
            position: absolute;
            list-style: none;
            padding: 0;
            margin: 0;
            bottom: 40px;
            left: 40px;

            button {
                font-size: 0;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background: #fff;
                border: none;
                cursor: pointer;
                padding: 0;
                outline: none;

                transition: color 0.3s ease;
            }

            .slick-active {
                button {
                    background: #3B7CCC;
                }
            }
        }
    }
}

.trustpilot-section {
    background: #F4F5F8;
    img {
        width: 100%;
        height: auto;
    }
}

.product-card {
    &__item {
        background: #F4F5F8;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 70px;
        padding-top: 0;

        h3 {
            color: #3B7CCC;
            margin-top: -45px;
        }

        .btn:not(.product-card__order-btn) {
            margin-top: auto;
        }
    }

    &__bage {
        position: absolute;
        left: -81px;
        bottom: 65px;
        background-color: #3B7CCC;
        display: block;
        color: #fff;
        height: 28px;
        font-size: 13px;
        padding: 4px 27px 7px 18px;
        clip-path: polygon(100% 0px, 88% 50%, 100% 100%, 0px 100%, 0% 0px);
    }

    &__order-btn {
        width: 100%;
    }

    &__brand {
        font-size: 28px;
        font-weight: 300;
        color: #5A5C70;
        display: block;
        margin-top: -105px;
        text-align: left;
        width: 100%;
    }

    &__price {
        font-size: 28px;
        font-weight: 300;
        color: #5A5C70;
    }

    &__title-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        h3 {
            margin: 0;
        }
    }

    &__image {
        position: relative;
        top: -70px;
        max-width: 230px;
        height: 255px;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__content {
        &-list {
            margin-top: 25px;
            border-top: 1px solid #CCCCCC;
            padding: 10px 10px;
            list-style: none;
            width: 100%;

            li {
                display: flex;
                padding: 15px 20px;
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: 1px solid #CCCCCC;
                }
            }
        }

        &-title {
            font-weight: 600;
            width: 49%;
        }

        &-value {
            width: 49%;
            line-height: 130%;

            .confirm {
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                background-color: #31AB72;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center 5px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.163' height='13.163' viewBox='0 0 13.163 13.163'%3E%3Cpath d='M-1635.007,12.67l-4-.21a1,1,0,0,1-.946-1.05,1,1,0,0,1,1.051-.947l2.918.153-.5-9.513a1,1,0,0,1,.946-1.051,1,1,0,0,1,1.051.947l.523,9.985a1,1,0,0,1-.05.369,1,1,0,0,1,.051.371,1,1,0,0,1-1,.947Z' transform='translate(1168.579 1159.583) rotate(45)' fill='%23fff'/%3E%3C/svg%3E%0A");
            }

            .reject {
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                background-color: #CA3F3F;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.485' height='11.485' viewBox='0 0 11.485 11.485'%3E%3Cpath d='M-1629.97,11.579l-3.873-3.873-3.873,3.873a1.1,1.1,0,0,1-1.549,0,1.094,1.094,0,0,1,0-1.549l3.873-3.873-3.873-3.873a1.094,1.094,0,0,1,0-1.549,1.094,1.094,0,0,1,1.549,0l3.873,3.873,3.873-3.873a1.094,1.094,0,0,1,1.549,0,1.1,1.1,0,0,1,0,1.549l-3.873,3.873,3.873,3.873a1.1,1.1,0,0,1,0,1.549,1.092,1.092,0,0,1-.774.321A1.092,1.092,0,0,1-1629.97,11.579Z' transform='translate(1639.586 -0.414)' fill='%23fff'/%3E%3C/svg%3E%0A");
            }
        }
    }
}

.choose-products {
    padding: 90px 0;

    h2 {
        color: #232223;
    }

    &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-top: 125px;
    }

    &__item {
        width: 49%;
    }
}

.callus-section {
    background-image: url('../img/callus-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;

    padding: 100px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            text-transform: uppercase;
        }

        .btn {
            margin-top: 25px;
        }
    }
}

.footer {
    background: #3B7CCC;
    padding-top: 75px;
    padding-bottom: 50px;
    color: #fff;

    &__line-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
    }

    &__line-contact {
        display: flex;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        svg {
            margin-right: 5px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        a {
            color: #fff;
        }
    }

    &__brand {
        width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__line-main {
        display: flex;
        justify-content: space-between;
    }

    &__line-title {
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
    }

    &__line-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        li:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }

    &__line-links {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;

            &::before {
                content: '-';
                display: block;
                margin-right: 55px;
            }
        }

        li:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }

    &__line-brands {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -10px;
        max-width: 245px;

        li {
            margin-bottom: 20px;
            margin: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__line-copy {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 14px;
    }

    &__privacy {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li  {
            display: flex;
            align-items: center;

            &:not(:last-child):after {
                content: '|';
                display: block;
                margin: 0 30px;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
        }
    }
}

.nav-product-tab {
    background-color: #F2F2F2;
    position: fixed;
    left: 0;
    top: 95px;
    width: 100%;
    z-index: 9;

    & + .nav-product-content {
        margin-top: 94px;
    }

    &__title {
        color: #3B7CCC;
        font-weight: 600;
        font-size: 19px;
    }

    &__wrapper {
        height: 94px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tabs {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 60%;
        flex-grow: 1;
        margin-left: 4em;
    }

    &__btn {
        height: 94px;
        border: none;
        background: transparent;
        border-bottom: 4px solid transparent;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #232223;
        text-decoration: none;

        transition: border-color 0.3s ease;

        &.active {
            border-color: #3B7CCC;
        }
    }
}

.product-variations {
    padding-top: 150px;
    margin-top: 30px;
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 32%;

        padding: 0px 30px;
        padding-top: 0;
        padding-bottom: 45px;
    }

    .product-card__content-list {
        border-top: none;

        li {
            padding: 15px 0;
        }
    }

    .product-card__content-title,
    .product-card__content-value {
        width: 47%;
    }

    .product-card__content-value {
        text-align: right;
        font-weight: 300;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .product-card__image {
        top: -130px;
        height: 260px;
        display: flex;
        align-items: flex-end;
    }
}

.advantages {
    padding-top: 90px;
    padding-bottom: 100px;

    &__wrapper {
        h2 {
            text-align: center;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;
    }

    &__item {
        width: 30%;

        &:not(.advantages__item-image) {
            max-width: 300px;
        }
    }

    &__item-image {
        margin: 0 2em;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__item-piece {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;

        img {
            margin-right: 20px;
            margin-top: -20px;
        }

        h6 {
            text-transform: uppercase;
            color: #31353D;
        }
    }
}

//CUSTOM ACCORDION

.custom-accordion {
    &__btn {
        color: #353F52;
        cursor: pointer;
        padding: 19px;
        padding-left: 0;
        padding-right: 30px;
        width: 100%;
        text-align: left;
        border: none;
        border-bottom: 1px solid #D6D8E0;
        outline: none;
        font-weight: normal;
        font-size: 16px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        transition: padding 0.2s ease;

        h6 {
            margin: 0;
        }
    
        &::after {
            display: block;
            content: '';
            width: 24px;
            height: 24px;
            transition: transform 0.2s ease;
            position: absolute;
            right: 0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M8,17,0,8.5,8,0' transform='translate(3.5 16) rotate(-90)' fill='none' stroke='%23c5c7d3' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
        }

        &:last-of-type {
            border-bottom: none
        }
    }

    .active, 
    &__btn:hover {
        font-weight: 500;
        color: #000000;
    }

    .active {
        border-bottom: 1px solid transparent;
    
        &::after {
            transform: rotate(180deg);
        }
    
        & + .custom-accordion__panel {
            border-bottom: 1px solid #D6D8E0;
            padding-bottom: 10px;

            &:last-of-type {
                border-bottom: none
            }
        }
    }

    &__panel {
        padding-top: 0;
        background-color: transparent;
        display: none;
        color: #353F52;
    
        a {
            color: #353F52;
        }
    
        ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-bottom: 10px;
    
            li {
                display: flex;
    
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
    
                &::before {
                    content: '⦁';
                    display: block;
                    margin-right: 7px;
                }
            }
        }
    } 
}

.faq-section {

    .custom-accordion {
        max-width: 976px;
        margin: 0 auto;
        margin-top: 60px;
    }

    padding-top: 85px;
    padding-bottom: 90px;

    &_gray {
        background-color: #F4F5F8;
    }

    h2 {
        color: #31353D;
        text-align: center;
    }
}

.hdiw-section {
    padding-top: 90px;
    padding-bottom: 90px;

    &__list {
        display: flex;
        padding: 0;
        list-style: none;
        margin: 0;
        margin-bottom: 40px;
        justify-content: space-between;
        width: 100%;

        li {
            width: 32%;
        }
    }

    &__item {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3B7CCC;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: #fff;
        border-radius: 50%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 100%;

        img {
            width: 100%;
            height: 280px;
            object-fit: cover;
        }
    }
}

.guide-title-section {
    background-color: #F4F5F8;
    padding: 55px 0;
    padding-top: 50px;

    h2 {
        text-align: center;
    }

    &__wrapper {
       display: flex;
       flex-direction: column;
       justify-content: center; 
    }

    &__close-btn {
        margin-left: auto;
        display: block;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Crect width='14' height='14' fill='none'/%3E%3Cpath d='M6.417,6.417,0,12.833,6.417,6.417,0,0,6.417,6.417,12.833,0,6.417,6.417l6.417,6.417Z' transform='translate(0.583 0.583)' fill='none' stroke='%23232223' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/svg%3E%0A");
    }
}

.guide-half-section {
    .container-fluid {
        padding: 0;
    }

    &__item {
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;

        &:nth-child(even) {
            background-color: #F4F5F8;
            flex-direction: row;

            .guide-half-section__content {
                justify-content: flex-end;
            }

            .guide-half-section-text {
                margin-right: 100px;
            }
        }

        &.guide-half-section__item_gray {
            background-color: #F4F5F8!important;
        }
    }

    &.guide-half-section_content-revert {
        .guide-half-section__item {
            &:nth-child(even) {
    
                .guide-half-section-text {
                    margin-right: auto;
                    margin-left: 100px;
                }
            }

            .guide-half-section-text {
                margin-left: auto;
                margin-right: 100px;
            }
        }
    }

    &.guide-half-section_gray {
        .guide-half-section__item {
            background-color: #F4F5F8;
        }

        .guide-half-section__item:nth-child(even) {
            background-color: #F4F5F8;
        }
    }

    &.guide-half-section_white {
        .guide-half-section__item {
            background-color: #FFFFFF;
        }

        .guide-half-section__item:nth-child(even) {
            background-color: #FFFFFF;
        }
    }

    &.guide-half-section_height-auto {
        .guide-half-section__image,
        .guide-half-section__content {
            height: auto;
        }

        .guide-half-section__content {
            padding: 90px 0;
        }
    }

    &__content {
        height: 400px;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-text {
        max-width: 540px;
        margin-left: 100px;

        small {
            text-transform: uppercase;
            display: block;
            margin-bottom: 13px;
        }

        h5 {
            color: #3B7CCC;
            margin-bottom: 20px;
            line-height: 140%;
        }

        h6 {
            text-transform: uppercase;
            margin-bottom: 13px;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        height: 400px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        color: #fff;

        img {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.guide-used {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;

    h2 {
        text-align: center;
    }

    &__title {
        max-width: 770px;
        margin: 0 auto;
    }

    &__container {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__list {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        text-align: left;
        width: 47%;

        flex-direction: column;

        &-couner {
            margin-right: 30px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-size: 20px;
            background-color: #3B7CCC;
            color: #fff;
            border-radius: 50%;
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .1);
        }

        li {
            display: flex;
            align-items: flex-start;
            flex-basis: 48%;
            margin-bottom: 35px;
        }
    }
}

.hdiw-treatment {
    padding-top: 80px;

    &__title {
        text-align: center;
        margin-bottom: 60px;

        p {
            font-size: 22px;
            max-width: 770px;
            margin: 0 auto;
        }
    }

    .container-fluid {
        padding: 0;
    }

    &__item {
        display: flex;
        height: 500px;
    }

    &__content {
       background-color: #F4F5F8; 
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 0 140px;
       width: 50%;

       p:last-child {
           margin-bottom: 0;
       }

       h2 {
           color: #3B7CCC;
       }
    }

    &__media {
        width: 50%;
    }

    &__media-container {
        position: relative;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }

    &__media-play-btn {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #31353D, $alpha: .5);
        border: none;
        font-size: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80.003' viewBox='0 0 80 80.003'%3E%3Cpath d='M1107.477,1048.254a40,40,0,1,0,40,40A40,40,0,0,0,1107.477,1048.254Zm-6.545,54.578v-29.156l18.767,14.578Z' transform='translate(-1067.477 -1048.254)' fill='%23fff'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.trigger-cards {
    padding-top: 90px;

    .container-fluid {
        padding: 0;
    }

    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        justify-content: flex-end;
        padding: 50px 30px;
        padding-top: 70px;
        height: 520px;
        width: 350px;
    }

    &__slider {
        position: relative;
    }

    &__title {
        text-align: center;
        padding-bottom: 60px;
    }

    &__slide-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            display: block;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.31%, rgba(0, 0, 0, 0.6) 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;

            transition: 0.3s ease;
        }
    }

    &__slide-icon {
        margin-top: auto;
        width: 45px;
        height: 45px;
        object-fit: contain;
    }

    &__slide-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 0;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        text-align: center;

        font-size: 18px;
        color: #999999;
        line-height: 140%;

        transition: opacity 0.8s ease 0.3s;

        p {
            margin: 0;
            max-width: 700px;
        }
    }

    &__slide-title {
        font-size: 32px;
        text-transform: uppercase;

        color: #fff;
        margin: 0;
    }

    .slick-arrow {
        font-size: 0;
        border: none;
        background: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36.107' height='18.628' viewBox='0 0 36.107 18.628'%3E%3Cpath d='M-6953.241,11.06h0l-.638-.634L-6955,9.313l1.76-1.746h0L-6945.617,0l1.76,1.746-6.38,6.333h31.344v2.47h-31.343l6.379,6.331-1.76,1.748Z' transform='translate(6955.001)' fill='%23fff'/%3E%3C/svg%3E%0A");
        position: absolute;
        bottom: 40%;
        width: 38px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 1;
        padding: 0;

        &.slick-next {
            right: 80px;
            transform: rotate(180deg);
        }

        &.slick-prev  {
            left: 80px;
        }
    }

    .slick-center {
        .trigger-cards__slide-desc {
            opacity: 1;
            visibility: visible;
            height: 100%;
            margin-top: 30px;
        }

        .trigger-cards__slide-bg::after {
            background: rgba($color: #000000, $alpha: .9);
        }

        .trigger-cards__slide {
            justify-content: flex-start;
        }
    }
}

.product-page-specs {
    padding-top: 90px;
    padding-bottom: 90px;

    h2 {
        text-align: center;
    }

    &__tabs-container {
        max-width: 1170px;
        margin: 0 auto;
        margin-top: 64px;
    }

    &__tabs-btns__slider {
        .slick-slide:first-child {
            .product-page-specs__tabs-btn:not(.active) {
                border-left: 1px solid #999999;
            }
        }
    }

    &__tabs-content {
        background: #F4F5F8;
        padding: 50px 45px;

        display: block;
    }

    &__tabs-btn {
        text-transform: uppercase;
        font-size: 34px;
        text-decoration: none;
        color: #3B7CCC;
        font-weight: 600;
        width: 245px;
        height: 78px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        transition: background-color 0.3s ease;
        border: 1px solid #999999;
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &.active {
            background-color: #F4F5F8;
            border: 1px solid transparent;
        }

    }

    &__tabs-content__panel {
        height: 0;
        visibility: none;
        overflow: hidden;
        opacity: 0;

        transition: opacity 0.3s ease;

        &.active {
            display: block;
            height: auto;
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }
    }

    &__tech-specs {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    &__tech-image {
        width: 280px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .btn {
            margin-bottom: 30px;
            margin-top: 40px;
        }
    }

    &__tech-image__product {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;

        img {
            position: absolute;
            bottom: 0;
            object-fit: cover;
            max-width: 280px;
            max-height: 330px;
        }
    }
}

.tech-specs__table {
    border-collapse: collapse;
    width: 65%;

    tr {
        border-bottom: 1px solid #CCCCCC;
        display: flex;

        td {
            padding: 10px 30px;
        }

        td:first-child {
            width: 50%;
            border-right: 1px solid #CCCCCC;;
        }

        td:last-child {
            font-weight: 600;
        }

        &:last-child {
            border: none;
        }
    }

    &-link {
       display: block;
       text-transform: uppercase; 
       color: #3B7CCC;
       height: 60px;
       font-weight: 400;

       &_download {
           display: flex;
           align-items: center;

            &::after {
                content: '';
                display: block;
                background-repeat: no-repeat;
                width: 13px;
                height: 16px;
                margin-left: 5px;
                margin-top: 4px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.703' height='15.603' viewBox='0 0 12.703 15.603'%3E%3Cg transform='translate(0 0)'%3E%3Cpath d='M900.83,5616.788c0-.259-.18-.414-.5-.414a1.076,1.076,0,0,0-.263.025v.832a1.008,1.008,0,0,0,.213.016C900.621,5617.246,900.83,5617.076,900.83,5616.788Z' transform='translate(-897.684 -5606.75)' fill='%233b7ccc'/%3E%3Cpath d='M904.154,5616.388a1.31,1.31,0,0,0-.288.025v1.841a1.112,1.112,0,0,0,.221.013.873.873,0,0,0,.952-.986A.807.807,0,0,0,904.154,5616.388Z' transform='translate(-899.044 -5606.755)' fill='%233b7ccc'/%3E%3Cpath id='Path_53' data-name='Path 53' d='M905.11,5601.377h-6.267a1.663,1.663,0,0,0-1.66,1.661v6.14h-.162a.669.669,0,0,0-.669.669v4.058a.668.668,0,0,0,.669.668h.162v.745a1.663,1.663,0,0,0,1.66,1.661h8.55a1.663,1.663,0,0,0,1.66-1.661v-10.012Zm-7,9.2a5.3,5.3,0,0,1,.86-.058,1.346,1.346,0,0,1,.86.226.822.822,0,0,1,.3.651.9.9,0,0,1-.259.668,1.306,1.306,0,0,1-.914.3,1.8,1.8,0,0,1-.218-.012v1.006h-.63Zm9.287,5.383h-8.55a.644.644,0,0,1-.643-.643v-.745h7.971a.668.668,0,0,0,.669-.668v-4.058a.669.669,0,0,0-.669-.669H898.2v-6.14a.644.644,0,0,1,.643-.643l5.886-.005v2.175a1.152,1.152,0,0,0,1.152,1.151l2.131-.006.024,9.609A.644.644,0,0,1,907.394,5615.962Zm-6.86-2.618v-2.765a5.764,5.764,0,0,1,.861-.058,1.81,1.81,0,0,1,1.152.3,1.246,1.246,0,0,1,.476,1.061,1.425,1.425,0,0,1-.468,1.14,2.017,2.017,0,0,1-1.3.363A5.5,5.5,0,0,1,900.535,5613.344Zm4.558-1.637v.518h-1.011v1.132h-.639v-2.814h1.72v.522h-1.081v.643Z' transform='translate(-896.352 -5601.377)' fill='%233b7ccc'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
       }
    }

}

.product-page {
    padding-top: 70px;
    padding-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__presentation {
        width: 825px;
        display: flex;
        align-items: flex-start;

        &-navigation-slide {
            width: 80px;
            height: 80px;
            border-radius: 5px;
            overflow: hidden;
            margin: 10px 0;
            cursor: pointer;
            border: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-navigation-slider {
            width: 100px;
            height: 600px;
            flex-shrink: 0;

            .slick-slide.active .product-page__presentation-navigation-slide {
                border: 2px solid #92CDCF;
            }
        }

        &-single-slider {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-single-slide {
            width: 600px;
            height: 600px;
            margin: 0 auto;
        }
    }

    &__information {
        width: auto;
        position: relative;
        z-index: 1;
        flex-shrink: 0;
    }

    &__information-card {
        border-radius: 8px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .12);
        padding: 55px 65px;
        max-width: 470px;
        margin-left: auto;

        h3 {
            color: #3B7CCC;
        }
    }

    &__information-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    &__information-availability {
        display: flex;
        align-items: center;

        .confirm {
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            background-color: #31AB72;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            font-size: 0;
            margin-right: 7px;
            background-repeat: no-repeat;
            background-position: center 5px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.027' height='7.854' viewBox='0 0 10.027 7.854'%3E%3Cg transform='translate(1.413 1.414)'%3E%3Cpath d='M0,3.215,2.057,5.44,7.2,0' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        .reject {
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            background-color: #CA3F3F;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            font-size: 0;

            margin-right: 7px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.658' height='7.656' viewBox='0 0 7.658 7.656'%3E%3Cpath d='M-8588.634,7.778l-2.122-2.122-2.123,2.122a1,1,0,0,1-1.415,0,1,1,0,0,1,0-1.415l2.123-2.122-2.121-2.121a1,1,0,0,1,0-1.413,1,1,0,0,1,1.413,0l2.121,2.121,2.122-2.121a1,1,0,0,1,1.415,0,1,1,0,0,1,0,1.413l-2.122,2.122,2.122,2.121a1,1,0,0,1,0,1.415,1,1,0,0,1-.707.293A.992.992,0,0,1-8588.634,7.778Z' transform='translate(8594.587 -0.415)' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
    }

    &__information-desc {
        font-weight: 300;
        color: #232223;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__information-list {
        padding: 0;
        padding-left: 20px;
        margin-bottom: 40px;

        li {
            margin-bottom: 10px;
            line-height: 120%;
        }

        &__btn-buy {
            margin-bottom: 40px;
        }
    }



    &__information-logos {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &:last-of-type {
            margin: 0;
        }

        li {
            display: flex;
            font-size: 14px;
            line-height: 120%;
            align-items: center;
            margin: 5px;
            flex-shrink: 0;

            img {
                object-fit: contain;
            }
        }

        &_text {
            svg {
                margin-top: 3px;
                margin-right: 9px;
                margin-bottom: 16px;
            }
        }
    }
}

.about-section {
    padding-top: 100px;

    &__wrapper {
        display: flex;
        padding-bottom: 80px;
        border-bottom: 1px solid #C5C7D3;
    }
    
    h2 {
        color: #3B7CCC;
        margin-bottom: 15px;
    }

    &__content {
        width: 50%;
        padding-right: 130px;

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__icons {
        width: 50%;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 180px;
            width: 160px;   
            text-align: center;
        }

        &-list {
            padding: 0;
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: space-between;
        }

        &-value {
            font-size: 36px;
            font-weight: 600;
            color: #3B7CCC;
            margin-bottom: 8px;
        }

        &-text {
            color: #7A7D97;
        }

        &-icon {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            height: 50px;

            img {
                max-width: 90%;
            }
        }
    }
}

.partners-section {
    padding-top: 60px;
    padding-bottom: 50px;

    h4 {
        text-align: center;
        color: #3B7CCC;
        margin-bottom: 0;
    }

    &__list {
        padding: 0;
        list-style: none;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 40px 0;

        .slick-slide {
            margin: 0 50px;
            padding: 0;
        }
    }

    &__list-item {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-shrink: 0;
        width: 100%;

        img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}

.terms-page {
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    a {
        color: #31353D;
    }

    a[href^="mailto:"] {
       color: #3B7CCC; 
    }
}

.news {
    &-section {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    &-page__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;

        li {
            width: 33%;
            margin: 0 15px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &:not(:last-of-type) {
            padding-bottom: 63px;
            border-bottom: 1px solid #DFDFDF;
            margin-bottom: 70px;
        }
    }

    &-card {
        width: 100%;

        &__image {
            width: 100%;
            margin-bottom: 25px;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }

        &__title {
            
            text-transform: uppercase;
            line-height: 140%;
            color: #3B7CCC;

            a {
                color: #3B7CCC;
                text-decoration: none;
            }
        }

        &__date {
            display: block;
            margin-bottom: 13px;
        }

        &__excerpt {
            margin-bottom: 0;
        }

    }
    
}

.news-pagination {
    padding-bottom: 70px;

    &__wrapper {
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        color: #7A7D97;
    } 
    
    &__container {
        display: flex;
        align-items: center;

        .news-pagination__item:first-child {
            margin-left: 0;
        }
    }

    &__item {
        color: #7A7D97;
        text-decoration: none;
        margin-left: 5px;

        &.active {
            color: #3B7CCC;
            text-decoration: underline;
        }

        &_previous {
            margin-right: auto;
            margin-left: 0;
        }

        &_last {
            margin-left: auto;
        }
    }
}