@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownLight.eot');
    src: url('../fonts/BrownLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownLight.woff2') format('font/woff2'),
        url('../fonts/BrownLight.woff') format('font/woff'),
        url('../fonts/BrownLight.ttf') format('font/ttf'),
        url('../fonts/BrownLight.ttf') format('font/truetype'),
        url('../fonts/BrownLight.svg#BrownLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownMedium.eot');
    src: url('../fonts/BrownMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownMedium.woff2') format('font/woff2'),
        url('../fonts/BrownMedium.woff') format('font/woff'),
        url('../fonts/BrownMedium.ttf') format('font/truetype'),
        url('../fonts/BrownMedium.ttf') format('font/ttf'),
        url('../fonts/BrownMedium.svg#BrownMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Regular.eot');
    src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brown-Regular.woff2') format('font/woff2'),
        url('../fonts/Brown-Regular.woff') format('font/woff'),
        url('../fonts/Brown-Regular.ttf') format('font/truetype'),
        url('../fonts/Brown-Regular.ttf') format('font/ttf'),
        url('../fonts/Brown-Regular.svg#Brown-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownBold.eot');
    src: url('../fonts/BrownBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownBold.woff2') format('font/woff2'),
        url('../fonts/BrownBold.woff') format('font/woff'),
        url('../fonts/BrownBold.ttf') format('font/truetype'),
        url('../fonts/BrownBold.ttf') format('font/ttf'),
        url('../fonts/BrownBold.svg#BrownBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 16px;
    color: #232223;
    font-family: 'Brown', sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 34px;
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 600;
}

.btn {
    color: #fff;
    background-color: #3B7CCC;
    border-radius: 30px;
    height: 55px;
    cursor: pointer;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-width: 250px;
    padding: 0 35px;
    line-height: 55px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        color: #fff;
        background-color: #0C5EC2;
    }

    &.btn-line-blue {
        border: 2px solid #4B7CC6;
        background: transparent;
        color: #3B7CCC;

        &:hover {
            background-color: #3B7CCC;
            color: #fff;
        }
    }

    &.btn-line-white {
        border: 2px solid #FFFFFF;
        background: transparent;
        color: #FFFFFF;

        &:hover {
            background-color: #FFFFFF;
            color: #3B7CCC;
        }
    }

    &.btn-white {
        background-color: #FFFFFF;
        color: #3B7CCC;

        &:hover {
            background-color: #FFFFFF;
            color: #0C5CBF;
        }
    }

    &.btn-green {
        color: #fff;
        background-color: #31AB72;

        &:hover {
            background-color: #039751;
            color: #FFFFFF;
        }
    }
}

.primary-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    li {
        padding: 0 40px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }
}

.navbar {
    background-color: #232223;
    color: #fff;

    &__burger-btn {
        display: none;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 30px;
        height: 21px;
        background: transparent;
        border: none;
        padding: 0;
        margin-right: 30px;
        cursor: pointer;

        span {
            height: 3px;
            background-color: #fff;
            width: 100%;
            display: block;
            border-radius: 20px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        height: 95px;
    }

    &__primary-menu {
        margin-right: auto;
        margin-left: 50px;
    }

    &__cart {
        position: relative;
        width: 38px;
        margin-right: 35px;
        cursor: pointer;

        &-value {
            display: flex;
            background: #3B7CCC;
            color: #fff;
            font-size: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__lang {
        .select-lang {
            border: none;
            background: transparent;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            outline: none;
            -webkit-appearance: none;
            cursor: pointer;

            option {
                color: #232223;
                cursor: pointer;
            }

            &-wrapper {
                position: relative;
                padding-right: 15px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 10px;
                    top: 11px;
                    right: 0;
                    height: 7px;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.359' height='8.376' viewBox='0 0 14.359 8.376'%3E%3Cg id='Group_18792' data-name='Group 18792' transform='translate(-1300.757 27.707)'%3E%3Crect id='Rectangle_269' data-name='Rectangle 269' width='10.153' height='1.692' rx='0.846' transform='translate(1301.954 -27.707) rotate(45)' fill='%23fff'/%3E%3Crect id='Rectangle_270' data-name='Rectangle 270' width='10.153' height='1.692' rx='0.846' transform='translate(1315.116 -26.511) rotate(135)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");

                }
            }
        }
    }

    &__brand {
        width: 150px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.header {
    color: #fff;

    &.header-product {
        .header__wrapper {
            display: flex;
            align-items: flex-end;
            position: relative;

            h1 {
                text-align: left;
                width: 50%;
            }

            .header__product-img {
                position: absolute;
                right: 0;
                bottom: -172px;
                overflow: hidden;
                z-index: 9999;

                img {
                    margin-right: -25px;
                }
            }
        }
    }

    &-slider {
        position: relative;
        display: flex;
        justify-content: center;

        .slick-dots {
            position: absolute;
            bottom: 40px;
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

            button {
                font-size: 0;
                height: 4px;
                display: block;
                width: 80px;
                background: #fff;
                opacity: 0.5;
                border: none;
                padding: 0;
                border-radius: 50px;
                outline: none;
                transition: opacity 0.3s ease;
            }

            li:not(:last-child) {
                margin-right: 15px;
            }

            .slick-active {
                button {
                    opacity: 1;
                }
            }
        }
    }

    &__wrapper {
        text-align: center;
        margin-bottom: 100px;

        h1 {
            margin-bottom: 25px;
        }

        small {
            font-size: 22px;
            text-transform: uppercase;
        }
    }

    &-slide {
        position: relative;
        height: 550px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &-page-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        height: 100%;
    }

    &-triggers {
        background: #3B7CCC;
        color: #fff;
        padding: 50px 0;

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: none;
                align-items: center;
                flex-shrink: 0;
                flex-grow: 0;

                &.active {
                    display: flex;
                }
            }
        }

        &__img {
            max-width: 45px;
            height: auto;
            object-fit: contain;
        }

        &__title {
            font-size: 20px;
            font-weight: 600;
            margin-left: 20px;
        }
    }
}

.header-product {
    .slick-list {
        padding-bottom: 50px;
    }

    .header-slider .slick-dots {
        bottom: 90px;
    }
}

.product-page-triggers {
    margin-top: -50px;
}

.product-main {
    &__wrapper {
        display: flex;
        flex-direction: row;
    }

    .container-fluid {
        padding: 0;
    }

    &:nth-child(even) .product-main__wrapper {
        flex-direction: row-reverse;
    }

    &__content {
        width: 50%;
        padding: 0 110px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        small {
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 5px;
        }

        h2 {
            color: #3B7CCC;
            margin-bottom: 20px;
        }

        p {
            margin: 0;
        }

        .btn {
            margin-top: 30px;
        }
    }

    &__image {
        width: 50%;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }

    &__slider {
        position: relative;

        .slick-dots {
            position: absolute;
            list-style: none;
            padding: 0;
            margin: 0;
            bottom: 40px;
            left: 40px;

            button {
                font-size: 0;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background: #fff;
                border: none;
                cursor: pointer;
                padding: 0;
                outline: none;

                transition: color 0.3s ease;
            }

            .slick-active {
                button {
                    background: #3B7CCC;
                }
            }
        }
    }
}

.trustpilot-section {
    background: #F4F5F8;
    img {
        width: 100%;
        height: auto;
    }
}

.product-card {
    &__item {
        background: #F4F5F8;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 70px;
        padding-top: 0;

        h3 {
            color: #3B7CCC;
            margin-top: -45px;
        }

        .btn:not(.product-card__order-btn) {
            margin-top: auto;
        }
    }

    &__bage {
        position: absolute;
        left: -81px;
        bottom: 65px;
        background-color: #3B7CCC;
        display: block;
        color: #fff;
        height: 28px;
        font-size: 13px;
        padding: 4px 27px 7px 18px;
        clip-path: polygon(100% 0px, 88% 50%, 100% 100%, 0px 100%, 0% 0px);
    }

    &__order-btn {
        width: 100%;
    }

    &__brand {
        font-size: 28px;
        font-weight: 300;
        color: #5A5C70;
        display: block;
        margin-top: -105px;
        text-align: left;
        width: 100%;
    }

    &__price {
        font-size: 28px;
        font-weight: 300;
        color: #5A5C70;
    }

    &__title-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        h3 {
            margin: 0;
        }
    }

    &__image {
        position: relative;
        top: -70px;
        max-width: 230px;
        height: 255px;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__content {
        &-list {
            margin-top: 25px;
            border-top: 1px solid #CCCCCC;
            padding: 10px 10px;
            list-style: none;
            width: 100%;

            li {
                display: flex;
                padding: 15px 20px;
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: 1px solid #CCCCCC;
                }
            }
        }

        &-title {
            font-weight: 600;
            width: 49%;
        }

        &-value {
            width: 49%;
            line-height: 130%;

            .confirm {
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                background-color: #31AB72;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center 5px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.163' height='13.163' viewBox='0 0 13.163 13.163'%3E%3Cpath d='M-1635.007,12.67l-4-.21a1,1,0,0,1-.946-1.05,1,1,0,0,1,1.051-.947l2.918.153-.5-9.513a1,1,0,0,1,.946-1.051,1,1,0,0,1,1.051.947l.523,9.985a1,1,0,0,1-.05.369,1,1,0,0,1,.051.371,1,1,0,0,1-1,.947Z' transform='translate(1168.579 1159.583) rotate(45)' fill='%23fff'/%3E%3C/svg%3E%0A");
            }

            .reject {
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                background-color: #CA3F3F;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.485' height='11.485' viewBox='0 0 11.485 11.485'%3E%3Cpath d='M-1629.97,11.579l-3.873-3.873-3.873,3.873a1.1,1.1,0,0,1-1.549,0,1.094,1.094,0,0,1,0-1.549l3.873-3.873-3.873-3.873a1.094,1.094,0,0,1,0-1.549,1.094,1.094,0,0,1,1.549,0l3.873,3.873,3.873-3.873a1.094,1.094,0,0,1,1.549,0,1.1,1.1,0,0,1,0,1.549l-3.873,3.873,3.873,3.873a1.1,1.1,0,0,1,0,1.549,1.092,1.092,0,0,1-.774.321A1.092,1.092,0,0,1-1629.97,11.579Z' transform='translate(1639.586 -0.414)' fill='%23fff'/%3E%3C/svg%3E%0A");
            }
        }
    }
}

.choose-products {
    padding: 90px 0;

    h2 {
        color: #232223;
    }

    &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-top: 125px;
    }

    &__item {
        width: 49%;
    }
}

.callus-section {
    background-image: url('../img/callus-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;

    padding: 100px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            text-transform: uppercase;
        }

        .btn {
            margin-top: 25px;
        }
    }
}

.footer {
    background: #3B7CCC;
    padding-top: 75px;
    padding-bottom: 50px;
    color: #fff;

    &__line-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
    }

    &__line-contact {
        display: flex;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        svg {
            margin-right: 5px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        a {
            color: #fff;
        }
    }

    &__brand {
        width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__line-main {
        display: flex;
        justify-content: space-between;
    }

    &__line-title {
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
    }

    &__line-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        li:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }

    &__line-links {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;

            &::before {
                content: '-';
                display: block;
                margin-right: 55px;
            }
        }

        li:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }

    &__line-brands {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -10px;
        max-width: 245px;

        li {
            margin-bottom: 20px;
            margin: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__line-copy {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 14px;
    }

    &__privacy {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li  {
            display: flex;
            align-items: center;

            &:not(:last-child):after {
                content: '|';
                display: block;
                margin: 0 30px;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
        }
    }
}

.nav-product-tab {
    background-color: #F2F2F2;

    &__title {
        color: #3B7CCC;
        font-weight: 600;
        font-size: 19px;
    }

    &__wrapper {
        height: 94px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tabs {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            height: 100%;
        }
    }

    &__btn {
        height: 100%;
        border: none;
        background: transparent;
        border-bottom: 4px solid transparent;
        padding: 0 30px;

        &.active {
            border-color: #3B7CCC;
        }
    }
}

.product-variations {
    padding-top: 150px;
    margin-top: 30px;
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 32%;

        padding: 0px 30px;
        padding-top: 0;
        padding-bottom: 45px;
    }

    .product-card__content-list li {
        padding: 15px 0;
    }

    .product-card__content-title,
    .product-card__content-value {
        width: 47%;
    }

    .product-card__content-value {
        text-align: right;
        font-weight: 300;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .product-card__image {
        top: -130px;
        height: 260px;
        display: flex;
        align-items: flex-end;
    }
}

.advantages {
    padding-top: 90px;
    padding-bottom: 100px;

    &__wrapper {
        h2 {
            text-align: center;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;
    }

    &__item {
        width: 30%;

        &:not(.advantages__item-image) {
            max-width: 300px;
        }
    }

    &__item-image {
        margin: 0 2em;
    }

    &__item-piece {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;

        img {
            margin-right: 20px;
            margin-top: -20px;
        }

        h5 {
            text-transform: uppercase;
            color: #31353D;
        }
    }
}

//CUSTOM ACCORDION

.custom-accordion {
    &__btn {
        color: #353F52;
        cursor: pointer;
        padding: 19px;
        padding-left: 0;
        padding-right: 30px;
        width: 100%;
        text-align: left;
        border: none;
        border-bottom: 1px solid #D6D8E0;
        outline: none;
        font-weight: normal;
        font-size: 16px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        transition: padding 0.2s ease;

        h5 {
            margin: 0;
        }
    
        &::after {
            display: block;
            content: '';
            width: 24px;
            height: 24px;
            transition: transform 0.2s ease;
            position: absolute;
            right: 0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M8,17,0,8.5,8,0' transform='translate(3.5 16) rotate(-90)' fill='none' stroke='%23c5c7d3' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
        }

        &:last-of-type {
            border-bottom: none
        }
    }

    .active, 
    &__btn:hover {
        font-weight: 500;
        color: #000000;
    }

    .active {
        border-bottom: 1px solid transparent;
    
        &::after {
            transform: rotate(180deg);
        }
    
        & + .custom-accordion__panel {
            border-bottom: 1px solid #D6D8E0;
            padding-bottom: 10px;

            &:last-of-type {
                border-bottom: none
            }
        }
    }

    &__panel {
        padding-top: 0;
        background-color: transparent;
        display: none;
        color: #353F52;
    
        a {
            color: #353F52;
        }
    
        ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-bottom: 10px;
    
            li {
                display: flex;
    
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
    
                &::before {
                    content: '⦁';
                    display: block;
                    margin-right: 7px;
                }
            }
        }
    } 
}

.faq-section {

    .custom-accordion {
        max-width: 976px;
        margin: 0 auto;
        margin-top: 60px;
    }

    padding-top: 85px;
    padding-bottom: 90px;

    &_gray {
        background-color: #F4F5F8;
    }

    h2 {
        color: #31353D;
        text-align: center;
    }
}


