@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownLight.eot');
    src: url('../fonts/BrownLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownLight.woff2') format('woff2'),
        url('../fonts/BrownLight.woff') format('woff'),
        url('../fonts/BrownLight.ttf') format('truetype'),
        url('../fonts/BrownLight.svg#BrownLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownMedium.eot');
    src: url('../fonts/BrownMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownMedium.woff2') format('woff2'),
        url('../fonts/BrownMedium.woff') format('woff'),
        url('../fonts/BrownMedium.ttf') format('truetype'),
        url('../fonts/BrownMedium.svg#BrownMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Regular.eot');
    src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brown-Regular.woff2') format('woff2'),
        url('../fonts/Brown-Regular.woff') format('woff'),
        url('../fonts/Brown-Regular.ttf') format('truetype'),
        url('../fonts/Brown-Regular.svg#Brown-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/BrownBold.eot');
    src: url('../fonts/BrownBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrownBold.woff2') format('woff2'),
        url('../fonts/BrownBold.woff') format('woff'),
        url('../fonts/BrownBold.ttf') format('truetype'),
        url('../fonts/BrownBold.svg#BrownBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 16px;
    color: #232223;
    font-family: 'Brown', sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

.btn {
    color: #fff;
    background-color: #3B7CCC;
    border-radius: 30px;
    height: 55px;
    cursor: pointer;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-width: 250px;
    padding: 0 35px;
    line-height: 55px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        color: #fff;
        background-color: #0C5EC2;
    }

    &.btn-line-blue {
        border: 2px solid #4B7CC6;
        background: transparent;
        color: #3B7CCC;

        &:hover {
            background-color: #3B7CCC;
            color: #fff;
        }
    }

    &.btn-line-white {
        border: 2px solid #FFFFFF;
        background: transparent;
        color: #FFFFFF;

        &:hover {
            background-color: #FFFFFF;
            color: #3B7CCC;
        }
    }

    &.btn-white {
        background-color: #FFFFFF;
        color: #3B7CCC;

        &:hover {
            background-color: #FFFFFF;
            color: #0C5CBF;
        }
    }
}

.primary-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    li {
        padding: 0 40px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }
}

.navbar {
    background-color: #232223;
    color: #fff;

    &__burger-btn {
        display: none;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 30px;
        height: 21px;
        background: transparent;
        border: none;
        padding: 0;
        margin-right: 30px;
        cursor: pointer;

        span {
            height: 3px;
            background-color: #fff;
            width: 100%;
            display: block;
            border-radius: 20px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        height: 95px;
    }

    &__primary-menu {
        margin-right: auto;
        margin-left: 50px;
    }

    &__cart {
        position: relative;
        width: 38px;
        margin-right: 35px;
        cursor: pointer;

        &-value {
            display: flex;
            background: #3B7CCC;
            color: #fff;
            font-size: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__lang {
        .select-lang {
            border: none;
            background: transparent;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            outline: none;
            -webkit-appearance: none;
            cursor: pointer;

            option {
                color: #232223;
                cursor: pointer;
            }

            &-wrapper {
                position: relative;
                padding-right: 15px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 10px;
                    top: 11px;
                    right: 0;
                    height: 7px;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.359' height='8.376' viewBox='0 0 14.359 8.376'%3E%3Cg id='Group_18792' data-name='Group 18792' transform='translate(-1300.757 27.707)'%3E%3Crect id='Rectangle_269' data-name='Rectangle 269' width='10.153' height='1.692' rx='0.846' transform='translate(1301.954 -27.707) rotate(45)' fill='%23fff'/%3E%3Crect id='Rectangle_270' data-name='Rectangle 270' width='10.153' height='1.692' rx='0.846' transform='translate(1315.116 -26.511) rotate(135)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");

                }
            }
        }
    }

    &__brand {
        width: 150px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.header {
    color: #fff;

    &-slider {
        position: relative;
        display: flex;
        justify-content: center;

        .slick-dots {
            position: absolute;
            bottom: 40px;
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

            button {
                font-size: 0;
                height: 4px;
                display: block;
                width: 80px;
                background: #fff;
                opacity: 0.5;
                border: none;
                padding: 0;
                border-radius: 50px;
                outline: none;
                transition: opacity 0.3s ease;
            }

            li:not(:last-child) {
                margin-right: 15px;
            }

            .slick-active {
                button {
                    opacity: 1;
                }
            }
        }
    }

    &__wrapper {
        text-align: center;
        margin-bottom: 100px;

        h1 {
            margin-bottom: 25px;
        }

        small {
            font-size: 22px;
            text-transform: uppercase;
        }
    }

    &-slide {
        position: relative;
        height: 550px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &-page-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        height: 100%;
    }

    &-triggers {
        background: #3B7CCC;
        color: #fff;
        padding: 50px 0;

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: none;
                align-items: center;
                flex-shrink: 0;
                flex-grow: 0;

                &.active {
                    display: flex;
                }
            }
        }

        &__img {
            max-width: 45px;
            height: auto;
            object-fit: contain;
        }

        &__title {
            font-size: 20px;
            font-weight: 600;
            margin-left: 20px;
        }
    }
}

.product-main {
    &__wrapper {
        display: flex;
        flex-direction: row;
    }

    .container-fluid {
        padding: 0;
    }

    &:nth-child(even) .product-main__wrapper {
        flex-direction: row-reverse;
    }

    &__content {
        width: 50%;
        padding: 0 110px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        small {
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 5px;
        }

        h2 {
            color: #3B7CCC;
            margin-bottom: 20px;
        }

        p {
            margin: 0;
        }

        .btn {
            margin-top: 30px;
        }
    }

    &__image {
        width: 50%;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }

    &__slider {
        position: relative;

        .slick-dots {
            position: absolute;
            list-style: none;
            padding: 0;
            margin: 0;
            bottom: 40px;
            left: 40px;

            button {
                font-size: 0;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background: #fff;
                border: none;
                cursor: pointer;
                padding: 0;
                outline: none;

                transition: color 0.3s ease;
            }

            .slick-active {
                button {
                    background: #3B7CCC;
                }
            }
        }
    }
}

.trustpilot-section {
    background: #F4F5F8;
    img {
        width: 100%;
        height: auto;
    }
}

.choose-products {
    padding: 90px 0;

    h2 {
        color: #232223;
    }

    &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-top: 125px;
    }

    &__item {
        background: #F4F5F8;
        border-radius: 4px;
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 70px;
        padding-top: 0;

        h3 {
            color: #3B7CCC;
            margin-top: -45px;
        }

        .btn {
            margin-top: auto;
        }
    }

    &__image {
        position: relative;
        top: -70px;
        max-width: 230px;
        height: 255px;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__content {
        &-list {
            margin-top: 25px;
            border-top: 1px solid #CCCCCC;
            padding: 10px 10px;
            list-style: none;
            width: 100%;

            li {
                display: flex;
                padding: 15px 20px;
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: 1px solid #CCCCCC;
                }
            }
        }

        &-title {
            font-weight: 600;
            width: 49%;
        }

        &-value {
            width: 49%;
            line-height: 130%;
        }
    }
}

.callus-section {
    background-image: url('../img/callus-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;

    padding: 100px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            text-transform: uppercase;
        }

        .btn {
            margin-top: 25px;
        }
    }
}

.footer {
    background: #3B7CCC;
    padding-top: 75px;
    padding-bottom: 50px;
    color: #fff;

    &__line-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
    }

    &__line-contact {
        display: flex;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        svg {
            margin-right: 5px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        a {
            color: #fff;
        }
    }

    &__brand {
        width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__line-main {
        display: flex;
        justify-content: space-between;
    }

    &__line-title {
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
    }

    &__line-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        li:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }

    &__line-links {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;

            &::before {
                content: '-';
                display: block;
                margin-right: 55px;
            }
        }

        li:not(:last-child) {
            margin-bottom: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }

    &__line-brands {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -10px;
        max-width: 245px;

        li {
            margin-bottom: 20px;
            margin: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__line-copy {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 14px;
    }

    &__privacy {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li  {
            display: flex;
            align-items: center;

            &:not(:last-child):after {
                content: '|';
                display: block;
                margin: 0 30px;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
        }
    }
}