@media screen and (max-width: 1400px) {
    .header-product .header__wrapper .header__product-img img {
        margin-right: -77px;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        
        &-slide {
            height: 400px;
        }
    
        &-slider .slick-dots button {
            width: 60px;
        }

        &-triggers {
            padding: 30px 0;
        }

        &__wrapper small {
            font-size: 20px;
        }

        &-product {
            h1 {
                margin: 0;
            }

            .header__wrapper {
                .header__product-img {
                    width: 420px;
    
                    img {
                        width: 100%;
                        margin: 0;
                        position: relative;
                        right: -55px;
                    }
                }
            }
        } 
    } 

    h1 {
        font-size: 64px;
        font-weight: 600;
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
    }

    .navbar__wrapper {
        height: 76px;
    }

    .product {
        &-main {
            &__content {
                padding: 0 90px;
                height: 440px;
            }
    
            &__image img {
                height: 440px;
            }
        }

        &-variations {
            .product-card__content-title {
                width: 40%;
            }

            .product-card__content-value {
                width: 60%;
            }
        }

        &-variations__item {
            width: 32%;
            padding: 0 20px 45px;
        }

        &-card__bage {
            left: -41px;
        }

        &-card__price {
            font-size: 24px;
        }

        &-card__brand {
            font-size: 26px;
        }
    }

    .choose-products__item {
        padding: 0 20px 60px;
    }

    .footer {
        padding-top: 55px;
    }



}

@media screen and (max-width: 992px) {
    .header {
        &-slide {
            height: 350px;
        }

        &__wrapper small {
            font-size: 18px;
        }

        &-triggers__list li {
            width: 29%;
            line-height: 130%;
        }

        &-triggers__title {
            font-size: 17px;
            margin-left: 15px;
        }

        &-product {
            .header__wrapper {
                margin-bottom: 0;
                margin-top: 30px;

                h1 {
                    width: 90%;
                }

                .header__product-img {
                    bottom: -243px;
                    width: 320px;

                    img {
                        right: -33px;
                    }
                }
                
            }

            .header-slide {
                align-items: flex-start;
            }
            
        }
    }

    h1 {
        font-size: 54px;
        font-weight: 600;
    }

    h2 {
        font-size: 33px;
    }

    .product-main {
        &__content {
            padding: 0 40px;
            height: 410px;
            font-size: 15px;
    
            h2 {
                margin-bottom: 13px;
            }
        }

        &__image img {
            height: 410px;
        }

        &__slider .slick-dots button {
            width: 10px;
            height: 10px;
        }
    }

    .product-card {
        &__content-list li {
            padding: 15px 10px;
        }

        &__image {
            max-width: 210px;
            height: 235px;
        }
    }

    .choose-products {
        padding-top: 70px;

        &__item {
            padding: 0 10px 60px;
        }
    }

    .callus-section {
        padding: 80px 0;
    }

    .footer {
        &__line-main {
            flex-wrap: wrap;
        }

        &__line-item {
            width: 48%;
            margin-bottom: 40px;
        }

        &__line-title {
            margin-bottom: 12px;
        }

        &__line-copy {
            margin-top: 20px;
        }

        &__line-brand {
            margin-bottom: 55px;
        }
    }

    .btn {
        height: 48px; 
        min-width: 230px;
        font-size: 15px;
    }

    .primary-menu li {
        padding: 0 20px;
    }

    .navbar__brand {
        width: 130px;
    }

    .navbar__cart {
        width: 33px;
        margin-right: 22px;

        img {
            width:24px;
        }
    }

    .product-variations {
        padding-top: 120px;
        margin-bottom: 70px;

        &__wrapper {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            padding: 0 50px 45px;
            margin-top: 160px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .nav-product-tab {
        &__buy-btn {
            display: none;
        }

        &__wrapper,
        &__btn {
            height: 60px;
        }
    }

    .advantages {
        padding-bottom: 40px;
        padding-top: 60px;

        &__container {
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: 50px;
        }
    
        &__item-piece {
            padding-top: 19px;
        }
    
        &__item {
            order: 2;
            width: 50%;
        }
    
        &__item-image {
            order: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;
    
            img {
                max-width: 400px;
            }
        }
    }

}

@media screen and (max-width: 768px) {

    .product-main {
        &__wrapper {
            flex-direction: column-reverse;
        }

        &__content {
            width: 100%;
            height: auto;
            padding: 70px 50px;
        }

        &__image {
            width: 100%;
        }

        &:nth-child(even) .product-main__wrapper {
            flex-direction: column-reverse;
        }
    }

    .choose-products {
        &__wrapper {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            margin-bottom: 130px;
            padding: 0 40px 60px;

            &:last-child {
                margin-bottom: 20px;
            }
        }

    }

    .footer {
        &__line-item {
            width: 46%;
        }

        &__brand {
            width: 170px;
        }

        &__line-copy {
            margin-top: 10px;
        }
    }
    
    .advantages {
        &__item {
            width: 80%;

            &:not(.advantages__item-image) {
                max-width: 390px;
            }
        }

        &__container {
            justify-content: center;
        }
    }

    .faq-section .custom-accordion {
        margin: 40px auto 0;
    }

    .header-product {

        .slick-list {
            padding-bottom: 0px;
        }

        .header__wrapper {
            margin-bottom: 50px;
            margin-top: 0;

            h1 {
                width: 100%;
                text-align: center;
            }

            .header__product-img {
                display: none;
            }
        }

        .header-slide {
            justify-content: center;
            align-items: center;
        }

        .header-slider .slick-dots {
            bottom: 45px;
        }
    }

    .product-page-triggers {
        margin-top: 0;
    }

    .nav-product-tab__tabs {
        margin: 0 0 0 3em;
    }
}

@media screen and (max-width: 576px) {

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 28px;
    }

    .faq-section {
        padding-bottom: 70px;

        h2 {
            text-align: left;
        }
    }

    .footer {
        &__line-main {
            justify-content: flex-start;
        }

        &__line-item {
            padding-left: 0;
            width: auto;

            padding-right: 20px;
    
            &:nth-child(2),
            &:nth-child(3) {
                width: 48%;
            }
        }

        &__line-copy {
            margin-top: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__copy {
            margin-bottom: 10px;
        }

        &__brand {
            margin-bottom: 20px;
        }

        &__line-brand {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    .header {
        &-triggers {
            padding-bottom: 0;
        }

        &-triggers__list {
            flex-direction: column;
            justify-content: center;
    
            li {
                width: 100%;
                margin-bottom: 30px; 
                justify-content: center;
            }
        }

        &-slide {
            height: 310px;
        }
    }

    .navbar {
        &__wrapper {
            flex-wrap: wrap;
            height: auto;
            padding: 20px 0;
        }

        &__primary-menu {
            display: none;
            width: 100%;
            order: 5;
            margin-top: 15px;
            margin-left: 0;
            border-top: 1px solid #ffffff4d;
            padding-top: 15px;
            margin-right: 0;
        }

        &__brand {
            margin-right: auto;
        }

        &__burger-btn {
            display: flex;
        }
    }

    .product-card {
        &__content-value {
            width: 48%;
        }

        &__content-title  {
            width: 48%;
        }
    }
    
}

@media screen and (max-width: 526px)  {

    h1 {
        font-size: 34px;
    }

    .footer {

        &__line-item {
    
            &:nth-child(2),
            &:nth-child(3) {
                width: auto;
                padding-right: 40px;
            }
        }
    }

    .header-slide {
        height: 260px;
    }

    .product-main__image img {
        height: 230px;
    }
}

@media screen and (max-width: 486px) {
    .choose-products {
        padding-bottom: 40px;
    }

    .navbar__brand {
        width: 90px;
    }

    .navbar__burger-btn {
        margin-right: 20px;
        width: 27px;
        height: 19px;
    }

    .navbar__cart {
        margin-right: 12px;
    }
}

@media screen and (max-width: 464px) {
    .product-main__content {
        padding: 70px 40px;
    }

    .product-card__item {
        padding: 0 15px 60px;
    }

    .advantages__item {
        width: 100%;
    }

}

@media screen and (max-width: 394px) {

    .footer__line-item {
        padding-right: 0px;

        &:nth-child(2),
        &:nth-child(3) {
            width: auto;
        }
    }
}