@media screen and (max-width: 1400px) {
    .header-product .header__wrapper .header__product-img img {
        margin-right: -77px;
    }

    .hdiw-treatment__content {
        padding: 0 6em;
    }

    .guide-half-section-text {
        margin-left: 5em;
    }

    .guide-half-section__item:nth-child(even) {
        .guide-half-section-text {
            margin-right: 5em;
            margin-left: 0;
        }
    }

    .product-page__presentation {
        width: 715px;
    }

    .product-page__information-card {
        max-width: 400px;
        padding: 45px 45px;
        padding-bottom: 55px;
    }

    .product-page__presentation-single-slide {
        width: 500px;
        height: 500px;
    }

    .product-page__presentation-navigation-slider {
        height: 500px;
    }

    .guide-half-section.guide-half-section_content-revert {
        .guide-half-section__item {
            .guide-half-section-text {
                margin: 0 auto;
            }
        }

        .guide-half-section__item:nth-child(even) {
            .guide-half-section-text {
                margin: 0 auto;
            }
        }
    }

    .partners-section__list .slick-slide {
        margin: 0 40px;
    }
}

@media screen and (max-width: 1200px) {

    body {
        padding-top: 76px;
    }

    .nav-product-tab {
        top: 76px;
    }

    .header {
        
        &-slide {
            height: 400px;
        }
    
        &-slider .slick-dots button {
            width: 60px;
        }

        &-triggers {
            padding: 30px 0;
        }

        &__wrapper small {
            font-size: 20px;
        }

        &-product {
            h1 {
                margin: 0;
            }

            .header__wrapper {
                .header__product-img {
                    width: 420px;
    
                    img {
                        width: 100%;
                        margin: 0;
                        position: relative;
                        right: -55px;
                    }
                }
            }
        } 
    } 

    h1 {
        font-size: 64px;
        font-weight: 600;
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
    }

    .navbar__wrapper {
        height: 76px;
    }

    .product {
        &-main {
            &__content {
                padding: 0 90px;
                height: 440px;
            }
    
            &__image img {
                height: 440px;
            }
        }

        &-variations {
            .product-card__content-title {
                width: 40%;
            }

            .product-card__content-value {
                width: 60%;
            }
        }

        &-variations__item {
            width: 32%;
            padding: 0 20px 45px;
        }

        &-card__bage {
            left: -41px;
        }

        &-card__price {
            font-size: 24px;
        }

        &-card__brand {
            font-size: 26px;
        }
    }

    .choose-products__item {
        padding: 0 20px 60px;
    }

    .footer {
        padding-top: 55px;
    }

    .guide-half-section__content {
        justify-content: center;
        align-items: center;
    }

    .guide-half-section-text {
        margin: 0;
        max-width: 75%;
    }

    .guide-half-section__item:nth-child(even) {
        .guide-half-section__content {
            justify-content: center;
            align-items: center;
        }

        .guide-half-section-text {
            margin: 0;
            max-width: 75%;
        }
    }

    .guide-used__list li {
        margin-bottom: 16px;
    }

    .hdiw-treatment__content {
        padding: 0 4em;
    }

    .hdiw-treatment__item {
        display: flex;
        height: 420px;
    }

    .product-page__presentation {
        width: 615px;
    }

    .product-page__presentation-single-slide {
        width: 495px;
        height: 495px;
        margin: 0;
    }

    .product-page__information-card {
        max-width: 320px;
        padding: 35px 30px 45px;
        padding-bottom: 30px;
    }

    .product-page__information-logos_text {
        flex-direction: column;

        svg {
            margin-top: 3px;
            margin-right: auto;
            margin-bottom: 7px;
        }
    }

    .product-page__presentation-navigation-slider {
        height: 495px;
    }

    .product-page__presentation-navigation-slide {
        margin: 9px 0;
    }

    .product-page-specs__tabs-content {
        padding: 30px 35px;
    }

    .product-page-specs__tabs-btn {
        width: 195px;
        height: 58px;
        padding-left: 30px;
        font-size: 28px;
    }

    .tech-specs__table {
        width: 60%;

        tr td {
            padding: 10px 15px;
        }
    }

    .tech-specs__table-link {
        height: 40px;
    }

    .tech-specs__table tr td:first-child {
        width: 40%;
    }

    .tech-specs__table tr td:last-child {
        padding-left: 30px;
    }

    .product-page__information-logos:last-of-type {
        flex-wrap: wrap;
        li {
            margin-bottom: 20px;
        }
    }

    .partners-section__list .slick-slide {
        margin: 0 30px;
    }

    .about-section__content {
        width: 50%;
        padding-right: 60px;
    }

    .guide-half-section.guide-half-section_height-auto .guide-half-section__content {
        padding: 60px 0;
    }
}

@media screen and (max-width: 992px) {
    .header {
        &-slide {
            height: 350px;
        }

        &__wrapper small {
            font-size: 18px;
        }

        &-triggers__list li {
            width: 29%;
            line-height: 130%;
        }

        &-triggers__title {
            font-size: 17px;
            margin-left: 15px;
        }

        &-product {
            .header__wrapper {
                margin-bottom: 0;
                margin-top: 30px;

                h1 {
                    width: 90%;
                }

                .header__product-img {
                    bottom: -243px;
                    width: 320px;

                    img {
                        right: -33px;
                    }
                }
                
            }

            .header-slide {
                align-items: flex-start;
            }
            
        }
    }

    .nav-product-tab+.nav-product-content {
        margin-top: 60px;
    }

    h1 {
        font-size: 54px;
        font-weight: 600;
    }

    h2 {
        font-size: 33px;
    }

    .product-main {
        &__content {
            padding: 0 40px;
            height: 410px;
            font-size: 15px;
    
            h2 {
                margin-bottom: 13px;
            }
        }

        &__image img {
            height: 410px;
        }

        &__slider .slick-dots button {
            width: 10px;
            height: 10px;
        }
    }

    .product-card {
        &__content-list li {
            padding: 15px 10px;
        }

        &__image {
            max-width: 210px;
            height: 235px;
        }
    }

    .choose-products {
        padding-top: 70px;

        &__item {
            padding: 0 10px 60px;
        }
    }

    .callus-section {
        padding: 80px 0;
    }

    .footer {
        &__line-main {
            flex-wrap: wrap;
        }

        &__line-item {
            width: 48%;
            margin-bottom: 40px;
        }

        &__line-title {
            margin-bottom: 12px;
        }

        &__line-copy {
            margin-top: 20px;
        }

        &__line-brand {
            margin-bottom: 55px;
        }
    }

    .btn {
        height: 48px; 
        min-width: 230px;
        font-size: 15px;
    }

    .primary-menu li {
        padding: 0 20px;
    }

    .navbar__brand {
        width: 130px;
    }

    .navbar__cart {
        width: 33px;
        margin-right: 22px;

        img {
            width:24px;
        }
    }

    .product-variations {
        padding-top: 120px;
        margin-bottom: 70px;

        &__wrapper {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            padding: 0 50px 45px;
            margin-top: 160px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .nav-product-tab {
        &__buy-btn {
            display: none;
        }

        &__wrapper,
        &__btn {
            height: 60px;
        }
    }

    .advantages {
        padding-bottom: 40px;
        padding-top: 60px;

        &__container {
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: 50px;
        }
    
        &__item-piece {
            padding-top: 19px;
        }
    
        &__item {
            order: 2;
            width: 50%;
        }
    
        &__item-image {
            order: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;
    
            img {
                max-width: 400px;
            }
        }
    }

    .hdiw-section__list {
        flex-direction: column;
        align-items: center;
        margin: 0;

        li {
            width: 100%;
            max-width: 500px;
            margin-bottom: 80px;
        }
    }

    .header-product .header-slide_hdiw {
        height: 340px;
        align-items: center;
    }

    .hdiw-treatment__item {
        height: 340px;
    }

    .trigger-cards__slide-desc {
        font-size: 16px;
    }

    .trigger-cards {
        padding-top: 70px;
    }
    .trigger-cards__title {
        padding-bottom: 40px;
    }

    .product-page__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .product-page__information {
        margin-top: 50px;
    }

    .product-page__information-card {
        max-width: 490px;
        padding: 45px 70px 65px;
        padding-bottom: 30px;
    }

    .product-page__presentation-single-slide {
        margin-left: auto;
    }

    .product-page {
        padding-bottom: 70px;
    }

    .product-page-specs {
        padding-top: 70px;
    }

    .product-page-specs__tech-specs {
        flex-direction: column;
        align-items: center;
    }

    .tech-specs__table {
        width: 100%;
    }

    .product-page-specs__tech-image {
        margin-top: 40px;
        width: 100%;
        max-width: 300px;
    }

    .product-page-specs__tech-image__product {
        img {
            position: static;
        }
    }

    .product-page-specs__tabs-container {
        max-width: 1170px;
        margin: 34px auto 0;
    }

    .about-section__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about-section__content {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
        max-width: 500px;
    }

    .about-section__icons {
        width: 100%;
        max-width: 560px;
    }

}

@media screen and (max-width: 768px) {

    .product-main {
        &__wrapper {
            flex-direction: column-reverse;
        }

        &__content {
            width: 100%;
            height: auto;
            padding: 70px 50px;
        }

        &__image {
            width: 100%;
        }

        &:nth-child(even) .product-main__wrapper {
            flex-direction: column-reverse;
        }
    }

    .choose-products {
        &__wrapper {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            margin-bottom: 130px;
            padding: 0 40px 60px;

            &:last-child {
                margin-bottom: 20px;
            }
        }

    }

    .footer {
        &__line-item {
            width: 50%;

            &:first-child {
                padding-right: 10px;
            }

            &:nth-child(2) {
                width: 40%;
            }

            &:nth-child(3) {
                order: 4;
                width: 40%;
            }

            &:nth-child(4) {
                width: 50%;
                padding-right: 10px;
            }
        }

        &__brand {
            width: 170px;
        }

        &__line-copy {
            margin-top: 10px;
        }
    }
    
    .advantages {
        &__item {
            width: 80%;

            &:not(.advantages__item-image) {
                max-width: 390px;
            }
        }

        &__container {
            justify-content: center;
        }
    }

    .faq-section .custom-accordion {
        margin: 40px auto 0;
    }

    .header-product {

        .slick-list {
            padding-bottom: 0px;
        }

        .header__wrapper {
            margin-bottom: 50px;
            margin-top: 0;

            h1 {
                width: 100%;
                text-align: center;
            }

            .header__product-img {
                display: none;
            }
        }

        .header-slide {
            justify-content: center;
            align-items: center;
        }

        .header-slider .slick-dots {
            bottom: 45px;
        }
    }

    .header-product .header-slide_hdiw {
        height: auto;
        padding: 40px 10px;
    }

    .product-page-triggers {
        margin-top: 0;
    }

    .nav-product-tab__tabs {
        margin: 0 0 0 3em;
    }

    .header-product .header__wrapper_hdiw {
        margin-bottom: 0;
    }

    .guide-half-section__item {
        flex-direction: column-reverse;
    }

    .guide-half-section__content {
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .guide-half-section__image {
        width: 100%;
        height: 340px;
    }

    .guide-half-section__item:nth-child(even) {

        flex-direction: column-reverse;

        .guide-half-section__content {
            width: 100%;
            height: auto;
            padding: 60px 0;
        }

        .guide-half-section__image {
            width: 100%;
            height: 340px;
        }
    }

    .guide-used {
        padding-bottom: 55px;
    }

    .guide-used__container {
        flex-direction: column;
    }

    .guide-used__list {
        width: 100%;

        li {
            margin-bottom: 25px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .hdiw-treatment__item {
        flex-direction: column;
        height: auto;
    }

    .hdiw-treatment__content {
        width: 100%;
        padding: 50px;
    }

    .hdiw-treatment__media {
        width: 100%;
        height: 400px;
    }

    .faq-section h2 {
        text-align: left;
    }

    .trigger-cards .slick-arrow {
        &.slick-prev {
            left: 30px;
        }

        &.slick-next {
            right: 30px;
        }
    }

    .trigger-cards__slide {
        height: 500px;
        width: 320px;
    }

    .product-page__presentation {
        flex-direction: column-reverse;
        width: 100%;
    }

    .product-page__presentation-navigation-slider {
        margin: 0 auto;
        margin-top: 30px;
        height: 80px;
        width: 100%;
    }

    .product-page__presentation-navigation-slide {
        margin: 0 10px;
    }

    .product-page__presentation-single-slide {
        margin-right: auto;
    }

    .product-page-specs__tabs-btn {
        width: 127px;
        height: 50px;
        padding-left: 20px;
        font-size: 22px;
    }

    .product-page-specs__tabs-content {
        padding: 30px 20px;
    }

    .tech-specs__table-link_download::after {
        margin-top: 2px;
    }

    .guide-half-section.guide-half-section_height-auto .guide-half-section__image {
        height: 340px;
    }

    .guide-half-section_content-revert .guide-half-section__item {
        flex-direction: column;
    }

    .about-section {
        padding-top: 70px;
    }

    .about-section__wrapper {
        padding-bottom: 60px;
    }

}

@media screen and (max-width: 576px) {

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 28px;
    }

    .faq-section {
        padding-bottom: 70px;

        h2 {
            text-align: left;
        }
    }

    .footer {
        &__line-main {
            justify-content: flex-start;
        }

        &__line-item {
            &:first-child {
                width: 60%;
            }

            &:nth-child(4) {
                width: 60%;
            }
        }

        &__line-copy {
            margin-top: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__copy {
            margin-bottom: 10px;
        }

        &__brand {
            margin-bottom: 20px;
        }

        &__line-brand {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    .header {
        &-triggers {
            padding-bottom: 0;
        }

        &-triggers__list {
            flex-direction: column;
            justify-content: center;
    
            li {
                width: 100%;
                margin-bottom: 30px; 
                justify-content: center;
            }
        }

        &-slide {
            height: 310px;
        }
    }

    .navbar {
        &__wrapper {
            flex-wrap: wrap;
            height: auto;
            min-height: 76px;
            padding: 20px 0;
        }

        &__primary-menu {
            display: none;
            width: 100%;
            order: 5;
            margin-top: 15px;
            margin-left: 0;
            border-top: 1px solid #ffffff4d;
            padding-top: 15px;
            margin-right: 0;
        }

        &__brand {
            margin-right: auto;
        }

        &__burger-btn {
            display: flex;
        }
    }

    .product-card {
        &__content-value {
            width: 48%;
        }

        &__content-title  {
            width: 48%;
        }
    }

    .guide-used__list-couner {
        margin-right: 20px;
    }

    .guide-half-section__item:nth-child(even) .guide-half-section__image {
        height: 250px;
    }

    .guide-half-section__image {
        height: 250px;
    }

    .product-page__presentation-single-slide {
        width: 100%;
        height: 100vw;
    }

    .product-page__presentation-navigation-slider {
        margin: 0px auto 0;
    }

    .product-page__presentation-navigation-slide {
        margin: 0 3px;
    }

    .product-page__information-card {
        max-width: 490px;
        padding: 45px 50px 65px;
        padding-bottom: 30px;
    }

    .guide-half-section__item:nth-child(even) .guide-half-section-text,
    .guide-half-section-text {
        max-width: 86%;
    }
    
}

@media screen and (max-width: 526px)  {

    h1 {
        font-size: 34px;
    }

    .footer {

        &__line-item {
    
            &:nth-child(2),
            &:nth-child(3) {
                width: auto;
                padding-right: 40px;
            }
        }
    }

    .header-slide {
        height: 260px;
    }

    .product-main__image img {
        height: 230px;
    }

    .hdiw-treatment__title p {
        font-size: 19px;
    }

    .hdiw-treatment__media {
        height: 320px;
    }

    .trigger-cards .slick-arrow {
        bottom: 20%;
    }

    .product-page__information-card {
        h3 {
            font-size: 24px;
        }
    }

    .product-page__information-desc {
        line-height: 122%;
    }

    .about-section__icons-list {
        flex-direction: column;
        align-items: center;

        li:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 486px) {
    .choose-products {
        padding-bottom: 40px;
    }

    .navbar__brand {
        width: 90px;
    }

    .navbar__burger-btn {
        margin-right: 20px;
        width: 27px;
        height: 19px;
    }

    .navbar__cart {
        margin-right: 12px;
    }

    .footer {
        &__line-item {
            &:first-child {
                width: 100%;
                order: 1;
            }

            &:nth-child(4) {
                width: 100%;
                order: 2;
            }

            &:nth-child(2) {
                order: 3;
                width: 50%;
            }

            &:nth-child(3) {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 464px) {
    .product-main__content {
        padding: 70px 40px;
    }

    .product-card__item {
        padding: 0 15px 60px;
    }

    .advantages__item {
        width: 100%;
    }

    .header-product .header__wrapper_hdiw {
        text-align: left;
    }

    .hdiw-treatment__content {
        width: 100%;
        padding: 30px;
    }

    .tech-specs__table tr td:first-child {
        width: 130px;
    }

    .tech-specs__table tr td:last-child {
        padding-left: 20px;
    }

    .product-page {
        padding-top: 40px;
    }

    .tech-specs__table-link_download {
        font-size: 15px;
    }

}

@media screen and (max-width: 412px) {
    .tech-specs__table {

        tr {
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
        }
    }

    .tech-specs__table tr td:first-child,
    .tech-specs__table tr td:last-child {
        text-align: center;
        width: 100%;
        border-right: 0;
        padding: 2px 15px;
    }

    .tech-specs__table-link_download {
        justify-content: center;
    }

    .product-page-specs__tabs-btn {
        width: 107px;
    }
}

@media screen and (max-width: 382px) {
    .hdiw-section__text {
        text-align: left;
    }

    .guide-half-section__item:nth-child(even) {
        .guide-half-section__content {
            padding: 30px 0;
        }

        .guide-half-section-text {
            max-width: 85%;
        }
    } 

    .guide-half-section__content {
        padding: 30px 0;
    }

    .guide-half-section-text {
        max-width: 85%;
    }

    .guide-used__title {
        text-align: left;

        h2 {
            text-align: left; 
        }
    }

    .hdiw-treatment__title {
        text-align: left;
    }

    .product-page__information-card {
        padding: 35px 30px 45px;
        padding-bottom: 20px;
    }

    .product-page-specs__tabs-btn {
        width: 99px;
        padding-left: 13px;

        height: 47px;
        font-size: 20px;
    }
}

